@using PikaShop.Admin.ViewModels
@using PikaShop.Common.Pagination
@model ICollection<PikaShop.Admin.ViewModels.ProductSpecsViewModel>

@{
    ViewData["Title"] = "Index";
}


<h4 class="page-title"> Product Specifications</h4>
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="my-table mt-3">
    <thead class="custom-class bg-white">
        <tr>
            <th>
                ID
            </th>
            <th>
                Key
            </th>
            <th>
                Value
            </th>
            <th>
                Product
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="window.location.href = '@Url.Action("Details", new { id = item.ID })';">
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                        </td>
                            <td>
                    @Html.DisplayFor(modelItem => item.Value)
                            </td>
                        <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    <div class="form-button-action">
                        <button type="button" data-toggle="tooltip" title="Edit" class="btn btn-link <btn-simple-primary">
                            @Html.ActionLink("", "Edit", "ProductSpecs", new { id = item.ID }, new { @class = "la la-edit" })
                        </button>
                        <button type="button" data-toggle="tooltip" title="Remove" class="btn btn-link btn-simple-danger">
                            @Html.ActionLink("", "Delete", "ProductSpecs", new { id = item.ID }, new { @class = "la la-times btn-simple-danger" })
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>