@model List<PikaShop.Web.ViewModels.ProductViewModel>
@if(@Model.Any()){


@foreach (var item in Model)
{
    <section class="col-lg-4 col-md-6 col-sm-12 pb-3  rounded-start">
        <div class="card border-0 shadow-lg" style="height: 95%;">
            <a asp-action="ProductDetails" asp-controller="CustomerProducts" asp-route-id="@item.Id"  >
                <img src="@item.Img" class="card-img-top" style="height:260px" alt="Product List Card UI">
            </a>
            <div class="card-body px-2 py-5">
                <p class="card-title text-xl-center border-bottom border-success border-top custome-background">@item.Name</p>
            </div>
                <div class="d-flex justify-content-around align-items-center pb-3">
                    <p class="productUnitPrice" >@item.UnitPrice</p>
                    @if (item.UnitsInStock > 0)
                    {
                        <p class=" text-success fw-bold">In stock</p>
                    }
                    else
                    {
                        <p class=" text-danger">Out of stock</p>
                    }   
                </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <button id="@item.Id-removingBtn" data-input="@item.Id" class="btn text-xxl fw-bold remove-btn" style="font-size:30px">-</button>
                <span id="@item.Id" class="btn btn-light rounded-pill mx-2" style="font-size:30px" min="1" type="number" max="@item.UnitsInStock">1</span>
                <button id="@item.Id-addingBtn" data-input="@item.Id" class="btn text-xxl fw-bold add-btn" style="font-size:30px">+</button>
            </div>
            <div class="card-footer d-flex justify-content-center text-center align-items-center">
                <button type="button"
                        class="btn btn-sm btn-outline-secondary rounded col-9 p-2 w-75 text-xs md:text-sm"
                        style="background-image: linear-gradient(to bottom, #ffeecc, #ffcc66);
                               border-color: #ffcc66;"
                        tabindex="0">
                    Add to Cart
                </button>
            </div>
          
        </div>
    </section>
}
}else{

   <partial name="_partialNotFound"/>

}

                         