@model PikaShop.Common.Pagination.PaginatedList<PikaShop.Web.ViewModels.ProductViewModel>;
@foreach(var item in Model)
{
    
<div class="col-lg-4 mb-4">
    <div class="card h-100 shadow-sm">
        <!-- Added h-100 class for 100% height -->
            <img src="@item.Img" class="card-img-top" alt="Product" />
        <div class="card-body d-flex flex-column">
            <!-- Added flex-column class for vertical alignment -->
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">Category: @item.CategoryID</p>
                <p class="card-text">Units in Stock: @item.UnitsInStock</p>
                <p class="card-text">Unit Price: <span class="productUnitPrice">@item.UnitPrice</span></p>
            <div class="mt-auto">
                <!-- Added mt-auto class to push buttons to the bottom -->
                <div class="d-flex align-items-center justify-content-between">
                        <button id="@item.Id-removingBtn" data-input="@item.Id" class="btn btn-danger rounded-pill remove-btn">-</button>
                        <span id="@item.Id" class="btn btn-light rounded-pill my-2" min="1" type="number" max="@item.UnitsInStock">1</span>
                        <button id="@item.Id-addingBtn" data-input="@item.Id" class="btn btn-success rounded-pill add-btn">+</button>
                </div>
            </div>
        </div>
    </div>
</div>
}


@{
    bool endPage = @Model.HasNext == false;
    bool firstPage = @Model.HasPrevious == false;
}
<button disabled="@endPage" id="nextpage">Next</button>
<label id="pageNum">@Model.CurrentPage</label>
<button disabled="@firstPage" id="prevpage">Previous</button>

