@using PikaShop.Common.Pagination
@model PaginatedList<PikaShop.Admin.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<h4 class="page-title">Products</h4>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>



<table class="my-table mt-3">
    <thead class="custom-class bg-white">
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                UnitsInStock
            </th>
            <th>
                Img
            </th>
            <th>
                Category
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="window.location.href = '@Url.Action("Details", new { id = item.ID })';">
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsInStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Img)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <div class="form-button-action">
                        <button type="button" data-toggle="tooltip" title="Edit" class="btn btn-link <btn-simple-primary">
                            @Html.ActionLink("", "Edit", new { id = item.ID }, new { @class = "la la-edit" })
                        </button>
                        <button type="button" data-toggle="tooltip" title="Remove" class="btn btn-link btn-simple-danger">
                            @Html.ActionLink("", "Delete", new { id = item.ID }, new { @class = "la la-times btn-simple-danger" })
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPrevious ? "disabled" : "";
    var nextDisabled = !Model.HasNext ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-pageNumber="@(Model.CurrentPage - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.CurrentPage + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>