@model IEnumerable<PikaShop.Admin.ViewModels.DepartmentViewModel>

@{
    ViewData["Title"] = "Index";
}

<h4 class="page-title">Departments</h4>

<p>
    @* <button class="btn btn-primary">Primary</button> *@
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="my-table mt-3">
    <thead class="custom-class bg-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <div class="form-button-action">
                        <button type="button" data-toggle="tooltip" title="Edit" class="btn btn-link <btn-simple-primary">
                            @Html.ActionLink("", "Edit", new { id = item.ID }, new { @class = "la la-edit" }) 
                        </button>
                        <button type="button" data-toggle="tooltip" title="Remove" class="btn btn-link btn-simple-danger">
                            @Html.ActionLink("", "Delete", new { id = item.ID }, new { @class = "la la-times btn-simple-danger" })
                        </button>
                        @* @Html.ActionLink("Details", "Details", new { id = item.ID }) | *@
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>